{{> html_start }}

	<div class="l-container">
		{{> masthead }}

		<!--  ====================  -->
		<!--  === Main content ===  -->
		<!--  ====================  -->
		<div id="mainContent" role="main">
			{% body %}
		</div>

		{{> footer }}
	</div><!-- Close .l-container -->

{{> html_end }}
