{{> html_start }}

	 <div class="l-container">
		<!-- header partial -->
		{{> masthead }}

		<!--  ====================  -->
		<!--  === Main content ===  -->
		<!--  ====================  -->
		<div class="sg-page" role="main">

			{{> body }}

		</div>

		{{> footer }}
	</div>

{{> html_end }}
