<!--  ==============  -->
<!--  === Masthead ===  -->
<!--  ==============  -->
<header class="masthead" role="banner">
	<h1 class="sg-sectionHeading">{{ title }}</h1>
	{{#exists description}}
	<p>{{ description }}</p>
	{{/exists}}
</header>
