{{> html_start }}

	 <div class="g-container">
		<!-- nav partial -->
		{{> masthead }}

		<!--  ====================  -->
		<!--  === Main content ===  -->
		<!--  ====================  -->
		<div role="main">

			{{> body }}

		</div>

		{{> footer }}
	</div>

{{> html_end }}