<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Kickoff</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

		<!--[if lte IE 8]>
			<link rel="stylesheet" href="css/kickoff-old-ie.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="/assets/css/kickoff.css">
		<!--<![endif]-->

		<!-- For mobile icons etc, consider:
			 * https://gist.github.com/mrmartineau/6403816
			 * http://iconifier.net
		-->

		<script src="/assets/js/libs/modernizr.min.js"></script>
	</head>
	<body>
